$primary: indigo;
$custom-colors: (
  "purple": purple,
);

$link-decoration: none !default;
$link-color: lighten(blueviolet, 10%);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
