
.cd-table {
    text-align: center;
    td, th {
        padding-right: 20px;
    }
}

.cd-top-row {
    color: white;
    font-size: 54px;
    text-shadow: 2px 2px indigo;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.cd-bottom-row {
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px indigo;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}