.title {
    color: white;
    
    text-shadow: 2px 2px indigo;
}

.button-link {
    background-color: white;
    color: indigo;
    padding: 5px;
    margin-top: 15px;

    margin-right: 20px;
}

.intro {
    color: white;
    text-shadow: 2px 2px indigo;
    font-size: 90px;
}