.button-link {
    padding: 5px;
    margin-top: 15px;
    margin-right: 20px;
}

.intro-medium {
    color: white;
    font-size: 54px;
    text-shadow: 2px 2px indigo;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.intro-small {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px indigo;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.intro {
    color: white;
    text-shadow: 2px 2px indigo;
    font-size: 70px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 600;
}

.welcome-section {
    margin-bottom: 20px;
}

.welcome-col {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.welcome-row {
   padding-top: 25px;
}

.example-chat {
    width: 400px;
    box-shadow: 20px 30px 20px rgba(255,255,255, 0.8);
    -moz-box-shadow: 20px 30px 20px rgba(255,255,255, 0.8);
    -webkit-box-shadow: 20px 30px 20px rgba(255,255,255, 0.8);
    -khtml-box-shadow: 20px 30px 20px rgba(255,255,255, 0.8);
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}
